body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #00a8ff, #d9a7c7);
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    font-weight: bolder;
}
footer{
    background-color: #333;
    padding: 10px 0;
}

header .navbar-brand,
header .nav-link {
    color: #fff;
}


header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-brand,
.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.nav-link:hover {
    text-decoration: underline;
}

.container {
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.nav-link:hover {
    text-decoration: underline;
}



.container {
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

form button {
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background: #fff;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

li.completed {
    background: #f0f0f0;
    text-decoration: line-through;
}

li.important-task {
    border: 2px solid #ff7f50;
}

button.delete,
button.complete,
button.edit,
button.important {
    background: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    margin-left: 15px;
    font-size: 16px;
    transition: background 0.3s;
}

button.delete:hover,
button.complete:hover,
button.edit:hover,
button.important:hover {
    background: #ff5733;
}


#addedTaskDiv {
    max-width: 600px;
    background: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#addedTaskDiv p {
    font-size: 18px;
}

#addedTaskDiv hr {
    margin: 10px 0;
    border: 0.5px solid #007acc;
}


.signup-container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
}

.signup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
}

.form-control {
    width: 100%;
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    width: 48%;
}



.signin-container {
    max-width: 400px;
    background-color: #f2f2f2; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
}


.signin-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}


.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
}

.form-control {
    width: 100%;
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    width: 48%;
}

