/* Center the content vertically and horizontally */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Dark-themed Bootstrap styles */
  .login-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #343a40; /* Dark border color */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #343a40; /* Dark border color */
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  .btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  