/* src/css/Header.css */

@font-face {
  font-family: 'instaFont';
  src: local('instaFont'), url('/public/font/instaFont.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Default styles */
.navbar {
  width: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.navbar-brand {
  font-family: 'instaFont', sans-serif;
  font-weight: bold;
}

.navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  transition: background-color 0.3s ease; /* Add smooth transition for hover effect */
}

.nav-text {
  margin-left: 30px;
}

.nav-link:hover {
  background-color: #868686; /* Change to the desired background color on hover */
}

/* Styles for "Threads" and "More" */
.navbar-nav-bottom {
  margin-top: 50%; /* Add a margin for better separation */
}

.nav-item-content {
  display: flex;
  align-items: center;
}

.nav-item-content img {
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

.nav-item-content h6 {
  margin-top: 10px; /* Remove default margin to ensure proper alignment */
}

.avatarr img {
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.nicon {
  height: 35px;
}

.instagram-icon {
  display: none; /* Initially hide the Instagram icon */
}

.insta-text {
  display: inline-block;
}

/* Media query for screens up to 1000px wide */
@media (max-width: 1000px) {
  .instagram-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    align-items: center;
  }

  .insta-text {
    display: none; /* Hide the Instagram text on screens up to 1000px wide when the icon is visible */
  }

  .nav-text {
    display: none;
  }

  .nicon {
    display: inline-block;
    height: 30px;
  }
}
