/* Footer.css */

body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* Set the background color for the entire body */
    color: #fff;
  }
  
  .footer {
    background-color: #111;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
  }
  