/* src/css/Suggestions.css */
.message-list {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 20px;
    overflow: hidden; /* Add overflow property to prevent text overflow */
  }
  
  .message-list-header {
    display: flex;
    justify-content: space-between;
  }
  
  .message-list__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden; /* Add overflow property to prevent text overflow */
  }
  
  .message-list__usernames {
    display: flex;
    flex-direction: column;
    overflow: auto; /* Change overflow to auto to adjust the container outline based on content */
  }
  
  .message-list__username {
    display: flex;
    flex-grow: 1; /* Allow the container to grow based on the content */
    justify-content: space-between;
    align-items: flex-start; /* Align items to the left */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Add overflow property to prevent text overflow */
  }
  
  
  .message-list-user__left {
    display: flex;
    align-items: center;
  }
  
  .message-list-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    
  }
  
  .message-list-user__info {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Add overflow property to prevent text overflow */
    align-items: flex-start;
    margin-left: 15px;
  }
  
  .message-list-username {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden; /* Add overflow property to prevent text overflow */
  }
  

  
  /* Responsive Styles */
  @media (max-width: 835px) {
   
  }
  
  @media (max-width: 600px) {
    .message-list__username {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .message-list-user__left {
      margin-bottom: 10px;
    }
  

  }
  
  